* {
  box-sizing: border-box;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */

  font-family: 'Oswald', sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); 
}
 
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

:root {
  font-family: 'Oswald', sans-serif;

  --theme: rgb(196, 84, 53);
}

body {
  background: black;
  /* background: url(../../infiniteGrassHillsWithTrees6.PNG); */
  /* background: url(loadingScreenImage.png); */
  /* background-size: 101%; */
  
  margin: 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}

.isSelectable {
  cursor: pointer;
  transition: outline 100ms, outline-offset 100ms !important;
}

.isSelectable.selected {
  outline: 4px solid var(--theme) !important;
  outline-offset: 2px !important;
  isolation: isolate;
}

.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.loader {
  --width: 7px;

  width: 50px;
  height: 50px;

  border-radius: 50%;
  border: var(--width) solid transparent; /*2*/
  background: conic-gradient(white, transparent, transparent, transparent) border-box; /*3*/
  -webkit-mask: /*4*/
     linear-gradient(#fff 0 0) padding-box, 
     linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor; /*5'*/
          mask-composite: exclude; /*5*/

  animation: 1s infinite spinLoader;
}

.loader::after {
  content: "";

  position: absolute;
  top: calc(-1 * var(--width));
  left: 50%;
  transform: translateX(-50%);

  width: var(--width);
  height: var(--width);

  background: white;
  border-radius: 50%;
}

@keyframes spinLoader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.ingameUICanvas {
  pointer-events: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.loading {
  --barHeight: 150px;

  z-index: 200;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;
  /* backdrop-filter: brightness(25%) blur(3px); */
}

.loading .backgroundImage {
  position: absolute;
  top: 0;
  bottom: var(--barHeight);
  left: 0;
  right: 0;

  background: black;
  background: url(loadingScreenImage2.png);
  /* background: url(../../lowpolyDesert.PNG); */
  background-size: cover;
  background-position: center;
}

.loading .topBar,
.loading .bottomBar {
  position: absolute;
  left: 0;
  right: 0;
  height: var(--barHeight);

  background-color: black;
}

.loading .topBar {
  top: 0;
}

.loading .bottomBar {
  bottom: 0;

  display: flex;
  justify-content: center;
}

.bottomBar .content {
  width: 100%;
  max-width: 1200px;
  padding: 1rem 2rem;

  position: relative;
}

.content .loaderWrapper {
  position: absolute;
  right: 1rem;
  bottom: 30px;

  display: flex;
  align-items: center;
  gap: 2rem;
}

.loading h1 {
  margin-top: 0.25em;
  margin-bottom: 0;
  font-size: 2.5em;
  /* text-align: center; */
}

.loading .subheading {
  margin-top: 0.5em;

  color: darkgray;
  font-style: italic;
}

a {
  color: inherit;
  pointer-events: all;
}

.loading h3 {
  color: darkgray;
  font-style: italic;
}

.loading > img {
  width: 500px;
  margin: 20px;
}

.progressBar {
  position: relative;

  width: 175px;
  height: 5px;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  overflow: hidden;
}

.progressBar .progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background: white;

  width: 0%;
}

.progressStatus {
  margin: 0;
}

.pauseOverlay {
  backdrop-filter: brightness(70%) blur(10px);
  z-index: 100;

  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-top: 20vh;

  color: white;
}

.pauseOverlay .menu {
  width: 400px;
  max-width: 400px;
}

.pauseOverlay .menu > div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  /* display: grid;
  grid-template-areas: "G G S" "G G R" "C C T";

  grid-template-columns: repeat(3, 175px);
  grid-template-rows: repeat(3, 75px);
  gap: 10px; */
}

.pauseOverlay .menu > div > button:nth-child(1) { grid-area: G; }
.pauseOverlay .menu > div > button:nth-child(2) { grid-area: S; }
.pauseOverlay .menu > div > button:nth-child(3) { grid-area: R; }
.pauseOverlay .menu > div > button:nth-child(4) { grid-area: C; }
.pauseOverlay .menu > div > button:nth-child(5) { grid-area: T; }

.pauseOverlay .menu > div > button:nth-child(2),
.pauseOverlay .menu > div > button:nth-child(3),
.pauseOverlay .menu > div > button:nth-child(5) {
  align-items: center;
}

.MenuButton {
  position: relative;

  pointer-events: all;
  outline: none;
  border: none;
  background: white;

  font-weight: bold;
  font-size: 1.5em;
  padding: 0.5em;
  border-radius: 5px;

  transition: transform 100ms;

  display: flex;
  align-items: center;
}

.MenuButton.selected {
  transform: scale(0.97);
  
  background: rgb(196, 84, 53);
  color: white;
}
.MenuButton:active {
  transform: scale(0.93);
  background: rgb(122, 57, 39);;
}

.MenuButton > .material-symbols-outlined {
  margin-right: 0.2em;
  font-weight: bold;
  font-size: 1.25em;
}

.pauseOverlay .menu > div > button:nth-child(2).selected > .material-symbols-outlined,
.pauseOverlay .menu > div > button:nth-child(3).selected > .material-symbols-outlined {
  animation: arrowSpin 500ms reverse;
}

@keyframes arrowSpin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.pauseOverlay .menu > div > button > img {
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.overlay .tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  
  display: flex;
  flex-direction: row;

  color: white;

  z-index: 100;
}

.overlay .tooltip > div {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px;
  margin-right: 0;

  padding: 5px 10px;
  padding-right: 20px;

  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.overlay .tooltip > div > img {
  height: 40px;
  margin-right: 0.25em;
}

.overlay .tooltip > div > span {
  font-weight: bold;
}

.garage {
  z-index: 5;
  padding: 30px;
}

.garage .carName {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: white;

  margin-bottom: 0.5em;
}

.garage > .info {
  position: absolute;
  top: 30px;
  right: 30px;

  display: flex;
  flex-direction: column;
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;

  width: 400px;
  padding: 10px;
  border-radius: 5px;
}

.garage > .info > .stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.garage > .info > .stats .item {
  display: flex;
  flex-direction: column;
}

.garage > .info > .stats > div > .name {
  font-weight: bold;
}

.card {
  aspect-ratio: 4 / 5;
  padding: 0;
  overflow: hidden;

  display: flex;
  flex-direction: column;

  border: 3px solid rgb(49, 49, 49);
  background: rgba(49, 49, 49, 0.3);
}

.card .title {
  overflow: hidden;
  display: -webkit-box;
   -webkit-line-clamp: 1;
           line-clamp: 1; 
   -webkit-box-orient: vertical;
}

.card img {
  width: 100%;
}

.card > div {
  flex: 1;
  padding-left: 5px;
}

#carList {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;

  height: 150px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  gap: 10px;

  background: rgba(0, 0, 0, 0.5);
}

#carList > .item {
  pointer-events: all;

  aspect-ratio: 3 / 2;

  background: black;
  border-radius: 8px;
  
  overflow: hidden;
  position: relative;
}

#carList > .item .name {
  position: absolute;
  left: 0;
  right: 0;
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.garage > .selectCar {
  pointer-events: all;
  cursor: pointer;

  position: absolute;
  bottom: 30px;
  left: 30px;

  border: none;
  background: rgb(16, 216, 16);
  color: rgb(39, 102, 39);
  font-size: 2em;
  font-weight: bold;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 5px;
  padding-right: 10px;
}

.garage > .selectCar:not(:disabled):hover,
.garage > .selectCar:not(:disabled):focus {
  transform: scale(0.97);
}

.garage > .selectCar:not(:disabled):active {
  transform: scale(0.93);
}

.garage > .selectCar:disabled {
  background: gray;
  color: darkgray;
  cursor: default;
}

.garage > .selectCar > img {
  height: 30px;
}

.garage > .selectCar:disabled > img {
  display: none;
}

.settings {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 100px;

  z-index: 1;
  backdrop-filter: brightness(70%) blur(10px);
}

.settings > .settingsContainer {
  height: 100%;
  aspect-ratio: 1920 / 1080;
  /* width: 900px;
  height: 600px; */

  padding: 1em;
  gap: 10px;

  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  pointer-events: all;
  z-index: 100;

  display: flex;
  flex-direction: column;
}

.settings h1 {
  margin: 0;
}

.settings_header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.settings_header img {
  width: 32px;
  opacity: 0.5;
}

.settings_categories {
  display: flex;
}

.settings_categories > * {
  cursor: pointer;
  padding: 0.25rem 1rem;
}

.settings_categories > *.selected {
  background: var(--theme);
  color: white;
  border-radius: 8px;
}

.settings_pages {
  display: flex;
  flex-direction: column;
  flex: 1;

  overflow: auto;
  padding: 1rem;
  margin: 0 -1rem;
}

.settings_page {
  display: none;
}

.settings_page.selected {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* .settings > .settingsContainer > .items > .group {
  display: flex;
  flex-direction: column;

  margin-bottom: 30px;
  padding: 6px;
} */

.settings_page .item {
  /* border: 2px solid black; */
  background: rgba(230, 230, 230, 0.8);
  border-radius: 5px;

  padding: 1em;

  display: flex;
  justify-content: space-between;

}

.settings > .settingsContainer > .buttons {
  margin-top: 1em;
}

.messages {
  position: absolute;
  top: 10px;
  right: 10px;

  height: 350px;
  overflow-y: hidden;

  z-index: 10;
  pointer-events: all;

  display: flex;
  flex-direction: column;
  gap: 5px;

  -webkit-mask-image: linear-gradient(180deg, #000 85%, transparent);
}

.messages:hover {
  overflow-y: scroll;
  overflow-y: overlay;
}

.messages > .message {
  color: white;
  background: rgba(0, 0, 0, 0.25);

  padding: 0.3em 0.6em;

  width: 300px;

  animation: hide 5s linear;
  animation-fill-mode: forwards;
}

@keyframes hide {
  0% { opacity: 1; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.messages:hover > .message {
  opacity: 1 !important;
}

.race {
  z-index: 10000000;
  color: white;
}

.lap_times {
  margin: 5rem 1rem;
  width: fit-content;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lap_times > .best,
.lap_times > .prev {
  display: grid;
  grid-template-columns: 60px auto;
  gap: 1rem;
}

.lap_times > .best {
  border-bottom: 1px solid white;
}

.prev_lap_times {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0.25rem 1rem;
  align-items: center;
}

.prev_lap_times > .delta {
  font-size: 0.75rem;
  padding: 0.25rem;
  background: rgba(0, 0, 0, 0.25);
}

.prev_lap_times > .delta.faster {
  background: rgba(0, 255, 0, 0.25);
}

.prev_lap_times > .delta.slower {
  background: rgba(255, 0, 0, 0.25);
}

.race > .current_times {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.current_time {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
  font-weight: bold;
}

.missed_checkpoint {
  color: red;
}

.track_map {
  position: absolute;
  top: 5rem;
  right: 1rem;
}

.track_map img {
  width: 256px;
}

.track_map .tracker {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: 24px;
  height: 24px;
}

.track_map .tracker .color {
  background-color: var(--theme);
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;
  mask: url(tracker.png);
  mask-size: 100% 100%;
}

.track_map .tracker img {
  width: 100%;
  height: 100%;
}

.start_menu {
  z-index: 1;
  color: white;
  /* padding: 4rem; */
  /* padding-top: 0; */
  pointer-events: all;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.start_menu h1 {
  font-size: 10rem;
  margin: 0;
  padding: 0 4rem;
  /* background: rgba(0, 0, 0, 0.7); */
  /* backdrop-filter: brightness(75%) blur(10px); */
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), transparent); */
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.start_menu_actions {
  display: flex;
  gap: 1rem;
  padding: 4rem;
  padding-top: 10rem;
  /* backdrop-filter: brightness(75%) blur(10px); */
  background: linear-gradient(0, black, black, transparent);
}