node_modules
.vscode

*.blend
*.blend1

assets

/public/assets/models/ak47Hands.glb

/public/assets/models/sponza.glb

/public/assets/models/swat.glb

/public/assets/models/swatStatic.glb

/public/cargame/map.glb