node_modules
.vscode
/server/httpsPassphrase.txt

*.blend
*.blend1

/public/assets/models/ak47Hands.glb

/public/assets/models/sponza.glb

/public/assets/models/swat.glb

/public/assets/models/swatStatic.glb

/public/cargame/map.glb

/public/cardemo/*.glb