/* Setup */

*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  font-family: 'Oswald', sans-serif;

  --black: #222;
  --team: #1db676;
  --teamDark: #147c51;
  --enemy: #d43e20;

  --teamGradient: linear-gradient(6deg, var(--team), var(--teamDark));
}

button {
  font-family: 'Oswald', sans-serif;
}

body {
  /* background: var(--black); */
  margin: 0;
  overflow: hidden;
}

/* Custom scrollbars */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Helper */

.hidden {
  display: none !important;
}

.fadeOut {
  animation: fadeOut 0.4s linear;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.loader:after {
  animation: changeLetter 2s linear infinite;
  content: "...";
}

@keyframes changeLetter {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

.AccentButton {
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border: none;
  background: var(--teamGradient);
  color: white;
  padding: 0.5em;
  cursor: pointer;
  transition: transform 0.2s;
}

.AccentButton:hover {
  transform: scale(1.05);
}

/* Toggle */

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle > .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.toggle > .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle > .slider.round {
  border-radius: 34px;
}

.toggle > .slider.round:before {
  border-radius: 50%;
}

/* UI */

.glass {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
  background-color: rgba(255, 255, 255, .25);
  backdrop-filter: blur(5px);
  border: none;
}

.UI {
  position: fixed;
  inset: 0;
  pointer-events: none;
  user-select: none;
}

.UI a,
.UI button,
.UI input,
.UI select,
.UI label {
  pointer-events: all;
  /* user-select: all; */
}

.ingameUI {
  pointer-events: none;
}

/* Lobby */

.playUI {
  pointer-events: none;
  /* padding: 50px;
  padding-top: 25px; */

  display: flex;
  flex-direction: column;
}

.playUI h1 {
  color: white;
  font-size: 5em;
  margin: 0;
}

.playUI a, .playUI input {
  pointer-events: auto;
}

.navigation {
  flex-grow: 1;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: all 500ms;
  transition-property: transform, opacity;
}

.navigation > div {
  display: flex;
  flex-direction: column;
}

.navigation > div > * {
  margin: 0.25em;
}

.navigation input {
  height: 2.5em;
}

.navigation a,
#deploy {
  position: relative;
  display: block;
  
  padding: 1.25em 1em;
  text-decoration: none;
  color: var(--black);

  user-select: none;
  -webkit-user-drag: none;
}
.navigation a:hover,
#deploy:hover {
  transform: scale(1.03);
}

.navigation a::before,
#deploy::before {
  content: "";
  position: absolute;
  inset: 0;
  background: white;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
}

#deploy {
  background: var(--teamGradient);
  /* background-color: rgba(255, 30, 30, 0.9); */
  color: white;
  transition: transform 0.2s;
  cursor: pointer;
  border: none;
  font-size: 1.5em;
  padding: 0.75em 1em;
}

.flashButton::before {
  animation: flash 500ms;
}

@keyframes flash {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(2);
    opacity: 0;
  }
}

.playUI .slideOut {
  transform: translateX(-200%);
  opacity: 0;
}

/* Tab system */

#radioPlay:checked ~ .tabsWrapper label[for="radioPlay"],
#radioLoadout:checked ~ .tabsWrapper label[for="radioLoadout"],
#radioSettings:checked ~ .tabsWrapper label[for="radioSettings"] {
  /* text-decoration: underline; */
  font-weight: bold;
  background: var(--teamGradient);
}

.tabSystem {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tabSystem .pages {
  flex: 1;
  position: relative;
}

.tabSystem .pages > * {
  /* display: none; */
  height: 100%;
  position: absolute;
  transform: translateX(-150%);
  transition: transform 0.2s linear;
}

#radioPlay:checked ~ .pages > .playUI,
#radioLoadout:checked ~ .pages > .loadout,
#radioSettings:checked ~ .pages > .settingsUI {
  transform: none;
  /* display: flex; */
}

.lobbyUI {
  padding: 1em;
  z-index: 1000;
  color: white;
}

.tabSystem .title {
  font-size: 2em;
}

.tabSystem .tabsWrapper {
  display: flex;
  flex-direction: row;
  pointer-events: all;
}

.tabSystem input[type="radio"] {
  display: none;
}

.tabSystem .tabsWrapper label {
  cursor: pointer;
  /* margin-right: 1em; */
  padding: 0.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Settings UI */

.settingsUI {
  width: 100%;
}

.settingsList {
  max-width: 800px;
}

.settingsList > .item {
  display: flex;
  flex-direction: row;
  padding: 0.5em;
  margin-bottom: 0.5em;

  background: var(--teamGradient);
}

/* .settingsList > .item:nth-child(2n) {
  background: var(--team);
} */

.settingsList > .item > div:nth-child(1) {
  width: 200px;
}

.settingsList > .item > div:nth-child(2) {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Loadout */

.loadout {
  width: 100%;
  display: flex;
  flex-direction: column;

  color: white;
}

/* Tooltip */

.loadout .tooltipWrapper {
  user-select: none;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.loadout .tooltipWrapper > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-right: 2em;
}

.loadout .tooltipWrapper img {
  height: 40px;
}

.loadout > .backButton {
  cursor: pointer;
  padding: 1em;
  margin-bottom: 5px;
  color: var(--black);
  font-weight: bold;
  width: 200px;
}

.loadout .loadoutContent {
  flex: 1;

  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}

.loadout .selectedWeaponBackground {
  /* background: var(--team); */
  height: 100%;
}

.loadout .classSelect {
  pointer-events: all;
  height: 85px;
  /* width: 200px; */
  /* padding: 5px; */
  /* margin-right: 5px; */
  overflow: hidden;
  overflow-x: auto;
  background: rgba(0, 0, 0, 0.3);

  display: flex;
  flex-direction: row;
}

.loadout .classSelect > button {
  position: relative;

  display: block;
  /* width: 100%; */
  min-width: 200px;
  /* height: 80px; */

  font-size: 1.25em;
  font-weight: bold;
  border: none;
  background: white;

  /* margin-bottom: 5px; */
  cursor: pointer;
}

.loadout .classSelect > button:hover::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.15);
}

.loadout .classContainer {
  /* flex-grow: 1; */
  pointer-events: all;
  width: 100%;
  max-width: 300px;
  /* height: 100%; */
  padding: 1em;

  background: #333;
  /* background: var(--team); */
}

.loadout .classContainer .className {
  font-size: 2em;
  font-weight: bold;
}

.loadout .classContainer .weapons {
  /* display: flex;
  flex-direction: column; */
}

.loadout .classContainer .weapons .slot {
  /* border: 1px solid blue; */
  /* display: inline-block; */
  /* width: 100%; */
  margin-bottom: 1em;
}

.loadout .classContainer .weapons .slot .weapon {
  background: black;
  color: white;

  display: flex;
  flex-direction: row;
  
  width: 100%;
  height: 100px;
  padding: 5px;
  /* aspect-ratio: 1 / 1; */
}

.loadout .classContainer .weapons .slot .weapon img {
  aspect-ratio: 1 / 1;
  height: 100%;
}

.loadout .classContainer .weapons .slot .weapon > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5px;
}

.loadout .classContainer .weapons .slot .weapon .weaponTitle {
  font-weight: bold;
}

.loadout .classContainer .weapons .slot .weapon .statGrid {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;

  font-size: 1.25em;
  width: 100%;
}

.loadout .classContainer .weapons .slot .weapon .statGrid .material-icons {
  font-size: 1em;
}

.loadout .classContainer .weapons .slot .weapon .statGrid img {
  height: 1em;
}

.loadout .classContainer .selectClass {
  width: 100%;
  padding: 1em;

  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(6deg, var(--teamDark), var(--team));

  /* border: 3px solid var(--teamDark); */

  color: var(--black);
  background: var(--teamGradient);
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
}

.classIsSelected {
  border-image: none !important;
  border-color: var(--black) !important;
  background: none !important;
  cursor: default !important;
}

.loadout .classSelect > button.classIsSelected {
  background: var(--teamGradient) !important;
}

/* */

.loading {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 100px;
}

#loadingStatus {
  font-size: 20px;
  color: white;
}

.gameUI {
  pointer-events: none;
  position: fixed;
  z-index: 50;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.killAlert {
  position: absolute;
  bottom: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.killAlert .special {
  font-size: 30px;
}

.killAlert > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.killAlert img {
  height: 1.5em;
  margin-right: 0.5em;
  animation: skullAnim 0.2s;
}

@keyframes skullAnim {
  from {
    opacity: 0;
    transform: scale(4);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.killAlert .player {
  font-size: 20px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.killAlert .kills {
  color: red;
  font-size: 40px;
}

.gameUI .topRight {
  position: absolute;

  right: 10px;
  top: 10px;
}

.gameUI .topRight .kills {
  margin: 0 10px;
  padding: 0 8px;
  background: rgba(0, 0, 0, 0.5);
  color: white;

  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameUI .bottomLeft {
  position: absolute;

  left: 20px;
  bottom: 20px;
  padding: 12px;
  /* padding-right: 50px; */

  /* background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 85%, transparent); */
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.gameUI .bottomLeft .healthContainer {
  width: 175px;
  height: 8px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  overflow: hidden;

  /* box-shadow: 0 0 7px 1px var(--team); */
}

.gameUI .bottomLeft .healthContainer .currentHealth {
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%;
  background: white;
  position: absolute;
}

.gameUI .bottomLeft .healthContainer .healthAnimation {
  top: 0;
  bottom: 0;
  left: 0;
  right: 70%;
  transition: right 0.3s;
  background: darkred;
  position: absolute;
}

.gameUI .bottomRight {
  position: absolute;

  right: 20px;
  bottom: 20px;
}

.gameUI .bottomRight .ammo {
  color: white;
  font-size: 1.5em;
  text-shadow: 0 0 5px black;
}

.emptyMag {
  color: red;
}

.leaderboardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  position: absolute;
  inset: 0;
}

.leaderboard {
  width: 500px;
  min-height: 300px;
  max-height: 100%;
  /* background: white; */
}

.leaderboard > h1 {
  color: white;
  margin: 0;
}

.leaderboard .list > div,
.leaderboard .listHeader {
  background: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 7px;
}

.leaderboard .listHeader {
  background: var(--teamGradient);
  color: white;
}

.leaderboard .list > div:nth-child(2n) {
  background: #eee;
}

/* .leaderboard .list > div:first-child {
  background: var(--team);
} */

.leaderboard .list > div > div > span,
.leaderboard .listHeader > div > span {
  display: inline-block;
  width: 50px;
  text-align: right;
}

.deathScreen {
  position: absolute;
  inset: 0;
  background: radial-gradient(transparent, rgba(255, 0, 0, 0.5));
}

.deathScreen .boxWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;

  display: flex;
  justify-content: center;
}

.deathScreen .boxWrapper .box {
  width: 400px;
  height: 100px;
  background: black;
  color: white;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
}

.deathScreen .boxWrapper .box .text {
  flex: 1;
  padding: 1em;
}

.debugInfo {
  background: rgba(0, 0, 0, 0.5);
  color: white;

  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 10px;

  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 100;
}

.debugInfo > span {
  font-size: 0.75em;
  margin: 0.1em;
}