*, *:before, *:after {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul {
  padding-left: 1em;
}

.boxTitle {
  font-size: 2em;
  font-weight: bold;
  color: black;

  margin-bottom: 0.5em;
}

.row {
  max-height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.box {
  display: flex;
  flex-direction: column;

  padding: 10px;

  overflow: auto;
}

#hierarchy,
#inspector {
  flex: 1;
  overflow: auto;
}

#hierarchy {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.gameObjectLabel {
  cursor: pointer;
}

#inspector .name {
  font-weight: bold;
  font-size: 1.25em;
}

.transform {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.vector {
  background-color: #eee;
  padding: 5px;
  
  display: flex;
  flex-direction: row;
}

.vector > span {
  width: 75px;
  font-weight: bold;
}

.components {
  display: flex;
  flex-direction: row;
  gap: 15px;
  
  /* font-weight: bold; */
}

.component > input {
  width: 60px;
}